<h1 id="h1" style="color:gold">Editing Quiz</h1>
<br/><br/><br/><br/><br/>
<%= render 'form', quiz: @quiz %>
<br/><br/><br/>
<%= link_to 'Show', @quiz ,class:"btn btn-lg btn-success"%> |
<%= link_to 'Back', quizzes_path ,class:"btn btn-lg btn-danger"%>
