<br/>
<br/>
<br/>
<br/>
<p class="score"> The score is </p>
<br/>
<br/>
<br/>
<br/>
<p class="score"><%= @score %></p>
<br/>
<br/>
<br/>
<br/>
<%= link_to 'Quiz ended. Click to go back to Quiz index menu', quizzes_path, class: "btn btn-lg btn-primary" %>
